<div class="container">
  <div class="row">
    <table class="table">
      <tr>
      <td class="col-md-3">
        <%= image_tag @item.get_image(400,400) %>
      </td>
      <td class="col-md-7">
        <h1><%= @item.name %></h1>
        <p><%= @item.description %></p>
        <h3>¥<%= @item.price.to_s(:delimited) %></h3>
        <span class="star-rating margin-b0">
          <span class="star-rating-front" style="width: <%= getPercent(@item.rate) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
        <p>投稿者：<%= @item.user.name %></p>
        <p>
          <span>
            <%= link_to '削除', admin_item_path(@item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
          </span>
        </p>
        <p>
          <% @item.tags.each do |tag| %>
          <%= tag.tag_name %>
          <% end %>
        </p>
      </td>
      </tr>
    </table>
  </div>
  
  <div class="card">
    <h3 class="card-header">製品レビュー</h3>
    <div class="card-body">
      <p class="card-text"><%= @item.review %></p>
    </div>
  </div>
  <div class="mt-3 mb-5">
    <%= link_to '製品一覧へ戻る', admin_items_path %>
  </div>
  
  <%= render "admin/comments/show", item: @item %>

</div>
