<div class="container">
  <div class="row">
    <h4 class="mt-3">タグ一覧・追加</h4>
  </div>

  <div class="row justify-content-start p-4">
    <div class="mx-auto d-flex flex-row">
    <%= form_with model: @tag, url: admin_tags_path, method: :post do |f| %>
      <%= f.text_field :tag_name, class: 'mx-3' %>
      <%= f.submit '登録', class: "btn btn-success" %>
    </div>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="mx-auto col-md-6 offset-md-1 pt-3">
      <table class="table">
        <tr>
          <th class="p-3">タグ</th>
          <th></th>
        </tr>
        <% @tags.each do |t| %>
        <tr>
          <td class="col-sm-10"><%= t.tag_name %></td>
          <td class="col-sm-2"><%= link_to '編集する', edit_admin_tag_path(t.id), class: 'btn btn-success btn-sm' %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>


</div>