<header class="text-white shadow-sm  sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
       <a class="navbar-brand p-3 text-light" href="/"><i class="fa-solid fa-house"></i>トップ</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <span class="navbar-brand mb-0 h1" style="color: white;">ようこそ、<%= current_user.name %>さん!</span>
            <li class="nav-item mr-2">
              <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-dark btn-border-white" %>
            </li>
            <li class="nav-item mr-2">
              <%= link_to 'レビューする', new_item_path, class: "btn btn-outline-dark btn-border-white" %>
            </li>
            <li class="nav-item mr-2">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark btn-border-white" %>
            </li>
          <% elsif admin_signed_in? %>
            <span class="navbar-brand mb-0 h1" style="color: white;">管理者ログイン中</span>
            <li class="nav-item mr-2">
              <%= link_to "会員一覧", admin_homes_top_path, class: "btn btn-outline-dark btn-border-white" %>
            </li>
            <li class="nav-item mr-2">
              <%= link_to "レビュー一覧", admin_items_path, class: "btn btn-outline-dark btn-border-white" %>
            </li>
            <!--<li class="nav-item mr-2">-->
            <!--  <%#= link_to "タグ管理", admin_homes_top_path, class: "btn btn-outline-dark btn-border-white" %>-->
            <!--</li>-->
            <li class="nav-item mr-2">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark btn-border-white" %>
            </li>
          <% else %>
            <li class="nav-item mr-2">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark btn-border-white" %>
            </li>
            <li class="nav-item mr-2">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark btn-border-white" %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
