<!DOCTYPE html>
<html>
  <head>
    <title>デバイス見聞録</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2f845c03c2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="text-white shadow-sm  sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
           <a class="navbar-brand p-3" href="/">HOME</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <span class="navbar-brand mb-0 h1" style="color: white;">ようこそ、<%= current_user.name %>さん!</span>
                <li class="nav-item">
                  <%= link_to 'レビューする', new_item_path, class: "btn btn-outline-dark btn-border-white" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark btn-border-white" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark btn-border-white" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark btn-border-white" %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <i class="fas fa-check-circle"></i><apan class="ml-2"><%= notice %></apan>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-exclamation-triangle"></i><apan class="ml-2"><%= alert %></apan>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
