<!DOCTYPE html>
<html>
  <head>
    <title>デバイス見聞録</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2f845c03c2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render 'layouts/header' %>
    <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <i class="fas fa-check-circle"></i><apan class="ml-2"><%= notice %></apan>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-exclamation-triangle"></i><apan class="ml-2"><%= alert %></apan>
        </div>
      <% end %>
    <%= yield %>
    <footer class="footer mt-5 py-3 bg-dark border-top border-border-dark">
      <div class="container">
        <span class="text-white">©デバイス見聞録</span>
      </div>
    </footer>
  </body>
</html>
